.Header {
    padding: .5em 1em;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;

    &>.navbar {
        &>.toggle_nav_btn {
            font-size: 1.6rem;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &>.logout_btn {
        font-size: 1.2rem;
        padding: .25em .75em;
        font-weight: 100;
        border-radius: 5px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        background-color: rgb(255, 103, 103);
        color: whitesmoke;
        transition: all 100ms ease-in-out;

        &:hover {
            background-color: rgb(253, 81, 81);
        }
    }
}