.Profil_form {
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 1em;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(65, 118, 255, .75);

    &>.form_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1em;
        color: whitesmoke;

        label {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 2px;
        }

        p {
            font-size: .9rem;
            font-weight: 100;
        }

        input, select {
            width: 55%;
            padding: 0 .5em;
        }

        input[type="text"], input[type="password"] {
            font-size: 1.2rem;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid whitesmoke;
            outline: none;
            color: whitesmoke;
        }

        input[type="date"] {
            font-size: 1.2rem;
            font-weight: 700;
            border: none;
            outline: none;
            border-radius: 5px;
            padding-top: .2em;
            padding-bottom: .2em;
        }

        select {
            font-size: 1.1rem;
            padding-top: .2em;
            padding-bottom: .2em;
            font-weight: 700;
            outline: none;

            option {
                max-width: 100%;
            }
        }
    }

    .submit_btn {
        outline: none;
        padding: .5em .75em;
        font-size: 1.2rem;
        border-radius: 25px;
        color: whitesmoke;
        background-color: transparent;
        border: 3px solid whitesmoke;
        font-weight: 700;
        margin-top: 1em;
        cursor: pointer;

        &:hover {
            color: rgb(65, 118, 255);
            background-color: whitesmoke;
        }
    }

    &>.error_div {
        margin-top: 1.25em;
        p{
            font-size: 1rem;
            text-align: center;
            color: rgb(255, 0, 0);
            letter-spacing: 2px;
        }
    }

    &>.success_div {
        margin-bottom: 1.5em;
        background-color: whitesmoke;
        padding: .5em 2em;
        border-radius: 5px;
        p{
            font-size: 1rem;
            text-align: center;
            color: rgb(15, 146, 48);
            letter-spacing: 2px;
            font-weight: 900;
        }
    }
}