.RoomItem {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: .5em 1em;
    background-color: rgba(65, 106, 255, 0.75);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;

    .settings {
        position: absolute;
        top: 5%;
        right: 2%;
    }

    .RoomItem_pt_1 {
        h4 {
            letter-spacing: 3px;
            margin-bottom: .5em;
            font-size: 1.6rem;
        }

        p {
            margin: .5em 0;
        }

        .desc {
            font-size: 1.1rem;
        }

        .date {
            font-size: .9rem;
            letter-spacing: 4px;
        }

    }

    .RoomItem_pt_2 {
        align-self: flex-end;
        button {
            padding: .25em .5em;
            font-size: 1.3rem;
            background-color: transparent;
            border: none;
            color: whitesmoke;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            transform: translate(-5px);

            &:hover, &:active {
                transform: translate(0);
            }
        }
    }
}